In [1]:
! python --version
! date

Python 3.4.4 :: Continuum Analytics, Inc.
Gio 25 Ago 2016 09:52:02 CST

In [37]:
import pandas as pd, numpy as np


ref :   http://www.tutorialspoint.com/python/python_lists.htm
ref :   https://docs.python.org/3/tutorial/datastructures.html
ref :   http://effbot.org/zone/python-list.htm
ref :   http://www.secnetix.de/olli/Python/lambda_functions.hawk

# Basics

In [18]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]

In [3]:
print (len(list1))
print (list1[0])
print (list1[1:3])
print (list1[1::3])
print (list1[-1])
print (list1[:])

4
physics
['chemistry', 1997]
['chemistry']
2000
['physics', 'chemistry', 1997, 2000]

In [4]:
print (list2.reverse())

None

In [5]:
print (max(list2))
print (min(list2))
print (list(list2))
print (7 in list2)
print ( list2+[6])

5
1
[5, 4, 3, 2, 1]
False
[5, 4, 3, 2, 1, 6]

In [6]:
#print (list3.index('a'))
print (list3.index('d'))

3

In [7]:
print(list1*2)

['physics', 'chemistry', 1997, 2000, 'physics', 'chemistry', 1997, 2000]

In [22]:
list1 = ['physics', 'chemistry', 1997, 2000];
del list1[0]
list1

['chemistry', 1997, 2000]

In [27]:
list1 = ['physics', 'chemistry', 1997, 2000];
list1.pop(0)
list1

['chemistry', 1997, 2000]

In [29]:
list4 = [9,1,2,3,4];
list4.sort()
list4

[1, 2, 3, 4, 9]

In [56]:
list4 = [9,1,2,3,4];
list4.sort()
print (list4[0])
print (list4[4])

1
9

In [31]:
list4 = [9,1,2,3,4]
list4.reverse()
list4

[4, 3, 2, 1, 9]

In [60]:
list5 = 'this is a dog'
list5.split(' ')

['this', 'is', 'a', 'dog']

In [61]:
phone= [123,456,789]
phone_list = tuple("{}".format(x) for x in phone)
phone_list

('123', '456', '789')

# Loop inside List

In [8]:
[x*2 for x in list2]

[10, 8, 6, 4, 2]

In [9]:
[x for x in list2]

[5, 4, 3, 2, 1]

In [10]:
[x for x in list2 if x > 2]

[5, 4, 3]

In [11]:
[(x, x**2) for x in list2]

[(5, 25), (4, 16), (3, 9), (2, 4), (1, 1)]

In [12]:
A = [x for x in list2 if x > 2]
A

[5, 4, 3]

In [13]:
[(x) for x in list2 if x > 2]

[5, 4, 3]

In [32]:
[x for x in range(20) if x % 2 == 1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Map

In [77]:
def cube(x): return x*x*x

list(map(cube, range(1, 11)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [81]:
seq = range(8)

def add(x, y): return x+y

list(map(add,seq,seq))

[0, 2, 4, 6, 8, 10, 12, 14]

# Lambda

In [48]:
foo = [2, 18, 9, 22, 17, 24, 8, 12, 27]
foo
list(filter(lambda x: x % 3 == 0, foo))

[18, 9, 24, 12, 27]

In [49]:
foo = [2, 18, 9, 22, 17, 24, 8, 12, 27]
foo
list(filter(lambda x: x >  17, foo))

[18, 22, 24, 27]

In [52]:
foo = [2, 18, 9, 22, 17, 24, 8, 12, 27]
foo
list(filter(lambda x: (x >  17) & (x < 24), foo))

[18, 22]

In [69]:
# loop in list then get the position index and corresponding value

list1 = ['physics', 'chemistry', 1997, 2000];
for i, v in enumerate(list1):
    print(i, v)

0 physics
1 chemistry
2 1997
3 2000

In [65]:
[(i,v) for  i,v in enumerate(list1)]

[(0, 'physics'), (1, 'chemistry'), (2, 1997), (3, 2000)]

In [66]:
# loop over two or more sequences at the same time

list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4];

for q, a in zip(list1, list2):
    print (q,a)

physics 1
chemistry 2
1997 3
2000 4

In [68]:
[(i,v) for  i,v in zip(list1, list2)]

[('physics', 1), ('chemistry', 2), (1997, 3), (2000, 4)]

# Transformation

In [72]:
# list -> tuple


print (type(list1))

print (tuple(list1))
print (type(tuple(list1)))

<class 'list'>
('physics', 'chemistry', 1997, 2000)
<class 'tuple'>

In [73]:
# list -> dictionary

dict(zip(list1,list1))

{2000: 2000, 'physics': 'physics', 'chemistry': 'chemistry', 1997: 1997}

In [74]:
for k,v in dict(zip(list1,list1)).items():
    print (k,v)

2000 2000
physics physics
chemistry chemistry
1997 1997

In [75]:
# list -> series 

pd.Series(list1)

0      physics
1    chemistry
2         1997
3         2000
dtype: object